/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
}

/* General styles */
body {
    background-color: white;
    font-family: "Lato", sans-serif;
    color: black;
    text-align: center;
}

/* Header*/
header {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Noto Sans", sans-serif;
    margin-left: auto;
    background-color: palevioletred;
    padding: 10px;
}

/* Test layout */
.test-area {
    background-color: #E6ECF0;
    box-sizing: border-box;
    width: 85%;
    height: 90%;
    max-width: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

/* Clef selectors */
.clefs-area{
    display: flex;
    align-items: center;
    justify-content: center;
}
.clefs-area button{
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px;
    padding: 5px;
    font-size: x-large;
    font-weight: 500;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.treble-clef{
    height: 60px;
    padding: 5px;
}

.bass-clef{
    height: 35px;
    padding: 5px;
}

/* Media query: header no longer fits on one line */
@media screen and (max-width: 700px) {

    /* Header */
    header {
     font-size: 0.9rem;
    }

    h2{
        font-size: small;
    }

    .clefs-area button{
        margin: 5px;
    }
}